@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Copper Group Book Reservation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Book_Reservation.styles.css" asp-append-version="true" />
</head>

<body>
    @{
        var userEmail = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
    }

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">Copper - Book Reservation</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if (!string.IsNullOrEmpty(userEmail))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="/Book/Browse">Reserve a Book</a>
                            </li>


                            <li class="nav-item">
                                <span class="nav-link text-white">Welcome, @userEmail</span>
                            </li>

                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout" class="d-inline">
                                    <button class="btn btn-link nav-link" type="submit">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" href="/Account/Login">Login</a></li>
                            <li class="nav-item"><a class="nav-link" href="/Account/Signup">Register</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container mt-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-4 py-3">
        <div class="container">
            &copy; 2025 - Copper Group Book Reservation - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
